<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.eInvoiceConnectionString"
            connectionString="Data Source=172.16.2.23\sqlexpress,1433;Initial Catalog=EIVO03;Persist Security Info=True;User ID=eivo;Password=eivoeivo"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.EINVTurnkey2ConnectionString"
            connectionString="Data Source=172.16.2.23\SQLEXPRESS;Initial Catalog=EINVTurnkey2;Persist Security Info=True;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Model.Properties.Settings>
            <setting name="SessionTimeout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GOVPlatformOutbound" serializeAs="String">
                <value>C:\Ap2APPilot\ERPOutBox</value>
            </setting>
            <setting name="GOVPlatformResponse" serializeAs="String">
                <value>C:\Ap2APPilot\ebMSInBox</value>
            </setting>
            <setting name="A1401Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\A1401\SRC</value>
            </setting>
            <setting name="B1401Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B1401\SRC</value>
            </setting>
            <setting name="A0501Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\A0501\SRC</value>
            </setting>
            <setting name="B0501Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B0501\SRC</value>
            </setting>
            <setting name="A0401Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\A0401\SRC</value>
            </setting>
            <setting name="B0401Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B0401\SRC</value>
            </setting>
            <setting name="B0301Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\B0301\SRC</value>
            </setting>
            <setting name="C0401Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\C0401\SRC</value>
            </setting>
            <setting name="C0501Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\C0501\SRC</value>
            </setting>
            <setting name="D0501Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\D0501\SRC</value>
            </setting>
            <setting name="E0402Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\E0402\SRC</value>
            </setting>
            <setting name="D0401Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\D0401\SRC</value>
            </setting>
            <setting name="E0401Outbound" serializeAs="String">
                <value>C:\EINVTurnkey\UpCast\B2CSTORAGE\E0401\SRC</value>
            </setting>
            <setting name="UploadedFilePath" serializeAs="String">
                <value>TempForPDF</value>
            </setting>
        </Model.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
