<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InvoiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <applicationSettings>
        <InvoiceClient.Properties.Settings>
            <setting name="SignerSubjectName" serializeAs="String">
                <value>UXSigner</value>
            </setting>
            <setting name="SignerCspName" serializeAs="String">
                <value />
            </setting>
            <setting name="SignerKeyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadInvoiceFolder" serializeAs="String">
                <value>Invoice</value>
            </setting>
            <setting name="UploadInvoiceCancellationFolder" serializeAs="String">
                <value>CancelInvoice</value>
            </setting>
            <setting name="AutoWelfareInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WelfareInfoFolder" serializeAs="String">
                <value>SWA</value>
            </setting>
            <setting name="IsAutoWelfare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputEncoding" serializeAs="String">
                <value>utf-8</value>
            </setting>
            <setting name="DownloadDataFolder" serializeAs="String">
                <value>傳送大平台資料</value>
            </setting>
            <setting name="IsAutoInvService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoInvServiceInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UploadAllowanceFolder" serializeAs="String">
                <value>Allowance</value>
            </setting>
            <setting name="UploadAllowanceCancellationFolder" serializeAs="String">
                <value>CancelAllowance</value>
            </setting>
            <setting name="DownloadInvoiceFolder" serializeAs="String">
                <value>傳送大平台資料\發票</value>
            </setting>
            <setting name="DownloadInvoiceCancellationFolder" serializeAs="String">
                <value>傳送大平台資料\作廢發票</value>
            </setting>
            <setting name="DownloadAllowanceFolder" serializeAs="String">
                <value>傳送大平台資料\折讓</value>
            </setting>
            <setting name="DownloadAllowanceCancellationFolder" serializeAs="String">
                <value>傳送大平台資料\作廢折讓</value>
            </setting>
            <setting name="DownloadWinningFolder" serializeAs="String">
                <value>BonusInvoice</value>
            </setting>
            <setting name="OutputEncodingWithoutBOM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadDataInAbsolutePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadCsvInvoiceFolder" serializeAs="String">
                <value>Invoice_csv</value>
            </setting>
            <setting name="UploadCsvInvoiceCancellationFolder" serializeAs="String">
                <value>CancelInvoice_csv</value>
            </setting>
            <setting name="DownloadInvoiceMapping" serializeAs="String">
                <value>InvoiceMap</value>
            </setting>
            <setting name="CsvEncoding" serializeAs="String">
                <value>Big5</value>
            </setting>
            <setting name="RootCA" serializeAs="String">
                <value>UXB2B Certificate Center.cer</value>
            </setting>
            <setting name="UploadBranchTrackFolder" serializeAs="String">
                <value>BranchTrack</value>
            </setting>
            <setting name="UploadSellerInvoiceFolder" serializeAs="String">
                <value>SellerInvoice</value>
            </setting>
            <setting name="UploadPreInvoiceFolder" serializeAs="String">
                <value>PreInvoice</value>
            </setting>
            <setting name="UploadAttachmentFolder" serializeAs="String">
                <value>Attachment</value>
            </setting>
            <setting name="DownloadSaleInvoiceFolder" serializeAs="String">
                <value>InvoicePDF</value>
            </setting>
            <setting name="DownloadInvoiceMailTracking" serializeAs="String">
                <value>InvoiceMailTracking</value>
            </setting>
            <setting name="DownloadInvoiceReturnedMail" serializeAs="String">
                <value>ReturnedMail</value>
            </setting>
            <setting name="SellerReceiptNo" serializeAs="String">
                <value>27934855</value>
            </setting>
            <setting name="AppTitle" serializeAs="String">
                <value>Google E-GUI Client</value>
            </setting>
            <setting name="TransferManager" serializeAs="String">
                <value>
                    InvoiceClient.TransferManagement.InvoiceTransferManagerV2ForGoogle, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                    InvoiceClient.TransferManagement.InvoiceAttachmentTransferManager, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                </value>
            </setting>
            <setting name="ServerInspector" serializeAs="String">
                <value>
                    InvoiceClient.Agent.InvoiceMailTrackingInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                    InvoiceClient.Agent.InvoicePDFInspector, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                </value>
            </setting>
            <setting name="MainTabs" serializeAs="String">
                <value>
                    InvoiceClient.MainContent.GoogleGUIConfigTab, InvoiceClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null;
                </value>
            </setting>
            <setting name="UploadAttachment" serializeAs="String">
                <value>https://eceivo.uxifs.com/Published/UploadAttachmentForGoogle.ashx</value>
            </setting>
            <setting name="InvoiceTxnPath" serializeAs="String">
                <value>C:\UXB2B_EIVO</value>
            </setting>
            <setting name="InvoiceClient_WS_Invoice_eInvoiceService" serializeAs="String">
                <value>https://eceivo.uxifs.com/Published/eInvoiceService_Google.asmx</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>Google E-GUI Client</value>
            </setting>
            <setting name="ActivationKey" serializeAs="String">
                <value>64120a22-40c2-45c7-80ab-2293a703f4a6</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>GoogleGUI</value>
            </setting>
        </InvoiceClient.Properties.Settings>
    </applicationSettings>
</configuration>