
/*--列印明細列視窗--*/
.table01
{
    /*border-top: 1px solid #000000;
    border-right: 1px solid #000000;*/
    border-collapse: collapse;
    margin: 0px;
    color: #000000;
    border: 1px solid #000000;
}
.table01 th {
	padding:3px 5px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	font:normal 13px/160% Arial, Helvetica, sans-serif;
	color: #000000;
}
.table01 th.borderleft {
	padding:3px 5px;
	border-left:1px solid #000000;
	font:normal 13px/160% Arial, Helvetica, sans-serif;
	color: #000000;
}
.table01 th a{
	color: #000000;
	text-decoration:none;
	border-bottom:1px dotted #000000;
}
.table01 th a:hover{
	color: #000000;
	text-decoration:none;
	border-bottom:1px solid #000000;
}

.table01 td{
	padding:3px 5px;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	font:normal 13px/160% Arial, Helvetica, sans-serif;
}
.table01 td.tdright{
	text-align:right !important;
}
.table01 td.tdleft{
	text-align:left;
}
.Head_style_a{
	font-size:12px!important;
	color:#000000;
	padding:3px 0px!important;
	text-align:center;
	line-height:180%;
	letter-spacing:1px;
}

/*--左列標題視窗--*/
.noborder{
	border-width:0px !important;
	margin:0px;
}
.noborder td{
	border-width:0px !important;
	padding:3px 5px;
	font-size: 13px;
	color:#000000;
}
.noborder td a{
	color:#000000;
}
.noborder td a:hover{
	color:#000000;
	text-decoration:underline;
}
.noborder2{
	border-width:0px !important;
	margin:0px;
}
.noborder2 td{
	border-width:0px !important;
	padding:3px 5px;
	font-size: 13px;
	color:#000000;
}


/*--Page視窗--*/
.total-count{
/*	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
	border-bottom:1px solid #FFF !important;
	padding:0px 3px;
	color:#000000;*/
}