<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Uxnet.Com.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Uxnet.Com.Properties.Settings>
   <setting name="XpsPrinterName" serializeAs="String">
    <value>Microsoft XPS Document Writer</value>
   </setting>
   <setting name="WndPrnTitle" serializeAs="String">
    <value>列印</value>
   </setting>
   <setting name="BtnPrnTitle" serializeAs="String">
    <value>列印(&amp;P)</value>
   </setting>
   <setting name="WndSaveAsTitle" serializeAs="String">
    <value>另存檔案為</value>
   </setting>
   <setting name="BtnSaveTitle" serializeAs="String">
    <value>儲存(&amp;S)</value>
   </setting>
   <setting name="PdfPrinterName" serializeAs="String">
    <value>Bullzip PDF Printer</value>
   </setting>
   <setting name="SqlLog" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Uxnet_Com_WS_DocumentService_DocumentCreator" serializeAs="String">
    <value>http://hinet01:8880/DocumentService/DocumentCreator.asmx</value>
   </setting>
   <setting name="UseMessageCenter" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MessageUploadUrl" serializeAs="String">
    <value>http://tpit-matrix/CDSAR/published/UploadFile.ashx</value>
   </setting>
   <setting name="Uxnet_Com_WS_MessageService_SendMessage" serializeAs="String">
    <value>http://tpit-matrix/CDSAR/published/SendMessage.asmx</value>
   </setting>
   <setting name="LogPath" serializeAs="String">
    <value/>
   </setting>
   <setting name="DBConnectionStringName" serializeAs="String">
    <value>masterDB</value>
   </setting>
   <setting name="PDFWorkingQueue" serializeAs="String">
    <value>C:\UXB2B_EIVO\PDFQueue</value>
   </setting>
   <setting name="PdfOutput" serializeAs="String">
    <value>C:\Users\Ralph\AppData\Local\Temp\PdfPrinter.pdf</value>
   </setting>
   <setting name="MaxWaitingInterval" serializeAs="String">
    <value>30000</value>
   </setting>
   <setting name="UsePDFPrinterService" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IgnoreCertificateRevoked" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PKCS7LogType" serializeAs="String">
    <value>Uxnet.Com.Security.UseCrypto.dsPKCS7,Uxnet.Com, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</value>
   </setting>
   <setting name="IPdfUtilityImpl" serializeAs="String">
    <value>Uxnet.Com.Helper.DefaultTools.PdfUtility,Uxnet.Com, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</value>
   </setting>
  </Uxnet.Com.Properties.Settings>
	</applicationSettings>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
